@{
    ViewData["Title"] = "Home Page";
    var paragrafo =  "Tenha o controle da sua loja de maneira online e simples. Armaneze os seus veículos em tabelas e tenha o total controle da sua concessionária.";
    var titulo = "Sua concessionária Online";

}

<link rel="stylesheet" href="~/css/home.css">

<div class="text-center">
    <h1 class="display-4">@titulo</h1>
    <p>@paragrafo</p>
</div>

<div class="container-secao1">

    <div class="secao">
        <h2 class="titulo-1">Praticidade</h2>
        <p>A sua concessionária online podendo ser controlado da tela do seu computador, tablet ou smartphone.</p>
    </div>

    <div class="secao">
        <h2 class="titulo-2">Agilidade</h2>
        <p>Você usa sistema antigo ou escreve o seu sistema no papel?? Trouxemos pra você a agilidade que procura, a era da tecnologia chegou pra agilizar e facilitar tudo.</p>
    </div>

    <div class="secao">
        
        <h2 class="titulo-3">Conforto</h2>
        <p>Você pode controlar sua loja no Conforto da sua casa.</p>

    </div>

</div>

<div class="container-secao2">
    <h1>A sua loja merece a tecnologia mais nova do Mercado.</h1>
    <button class="botao"><a href="/">Cadastro</a></button>
</div>
